*.pdf binary
*.doc binary
*.docx binary
*.zip binary
*.rar binary
*.7z binary
*.xmind binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.chm binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
